<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="text-white">Welcome <b>{{username}}</b></h1>
              <p class="lead text-white">A simple page to create ReadMe for GitHub Repositories.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>

    <section class="section pb-0 section-components" id="toTop">
      <div class="row">

        <!-- Left Spacing -->
        <div class="col-lg-1"></div>

        <!-- Input Block -->
        <div class="col-lg-5">
          <form [formGroup]="inputForm">

            <!-- Title -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Title of Repository</h3>
              <div class="form-group">
                <input formControlName="title" type="text" id="input-title"
                  class="form-control black-color box-border" placeholder="Paste your Repository name">
              </div>
            </div>

            <!-- Description -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Description</h3>
              <div class="form-group">
                <textarea formControlName="description" id="input-description" rows="5"
                  class="form-control black-color no-resize box-border" placeholder="Description"></textarea>
              </div>
            </div>

            <!-- Demo -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Demo</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="demoText" type="text" id="input-demoText"
                      class="form-control black-color box-border" placeholder="Text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="demoHyperLink" type="text" id="input-demoHyperLink"
                      class="form-control black-color box-border" placeholder="Hyperlink">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input formControlName="demoLink" type="text" id="input-demoLink"
                  class="form-control black-color no-resize box-border" placeholder="Link">
              </div>
            </div>

            <!-- Features -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Features</h3>
              <div class="form-group">
                <textarea formControlName="featuresDescription" id="input-features-description" rows="5"
                  class="form-control black-color no-resize box-border mb-4" placeholder="Features description"></textarea>
                <div formArrayName="features">
                  <section *ngFor="let feature of inputForm.get('features')['controls']; index as i">
                    <div class="input-group mb-4">
                      <input formControlName="{{i}}" type="text" id="input-demoLink"
                        class="form-control black-color box-border" placeholder="Add feature">
                      <button class="input-group-text black-color box-border" (click)="removeFeature(i)"><i class="fa fa-trash"></i></button>
                    </div>
                  </section>
                  <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <button class="btn btn-1 btn-outline-primary" (click)="addFeature()">Add Feature</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Setup -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Installation steps</h3>
              <div class="form-group">
                <div formArrayName="setup">
                  <section *ngFor="let feature of inputForm.get('setup')['controls']; index as i" [formGroupName]="i">
                    <div class="mb-4">
                      <div class="input-group">
                        <input formControlName="description" type="text" id="input-setupDesc{{i}}"
                          class="form-control black-color box-border" placeholder="Add Description">
                        <button class="input-group-text black-color box-border" (click)="removeStep(i)"><i class="fa fa-trash"></i></button>
                      </div>
                      <input formControlName="code" type="text" id="input-setupCode{{i}}"
                        class="form-control black-color box-border" placeholder="Add Code">
                    </div>
                  </section>
                  <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <button class="btn btn-1 btn-outline-primary" (click)="addStep()">Add Step</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Contributors -->
            <div class="container mb-5">
              <h3 class="h4 font-weight-bold mb-4">Contributors</h3>
              <div class="form-group">
                <div formArrayName="contributor">
                  <section *ngFor="let feature of inputForm.get('contributor')['controls']; index as i" [formGroupName]="i">
                    <div class="mb-4">
                      <div class="input-group">
                        <input formControlName="name" type="text" id="input-contributorName{{i}}"
                          class="form-control black-color box-border" placeholder="Add Name">
                        <button class="input-group-text black-color box-border" (click)="removeContributor(i)"><i class="fa fa-trash"></i></button>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <input formControlName="connect1" type="text" id="input-contributorConnect1{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Name">
                        </div>
                        <div class="col-md-9">
                          <input formControlName="connect1Link" type="text" id="input-contributorConnect1Link{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Url">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <input formControlName="connect2" type="text" id="input-contributorConnect2{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Name">
                        </div>
                        <div class="col-md-9">
                          <input formControlName="connect2Link" type="text" id="input-contributorConnect2Link{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Url">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <input formControlName="connect3" type="text" id="input-contributorConnect3{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Name">
                        </div>
                        <div class="col-md-9">
                          <input formControlName="connect3Link" type="text" id="input-contributorConnect3Link{{i}}"
                            class="form-control black-color box-border" placeholder="Add Platform Url">
                        </div>
                      </div>
                    </div>
                  </section>
                  <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <button class="btn btn-1 btn-outline-primary" (click)="addContributors()">Add Contributor</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Generate -->
            <div style="margin-top: 20px; display: flex; justify-content: center;">
              <button class="btn btn-1 btn-outline-primary" (click)="save()">Generate Markdown</button>
            </div>
          </form>
        </div>

        <!-- Vertical Line -->
        <div style="border-right: 1px solid #000"></div>

        <!-- Output Block -->
        <div class="col-lg-5">
          <form [formGroup]="outputForm">
            <div class="container">
              <h3 class="h4 font-weight-bold mb-4">Code</h3>
              <div style="margin-bottom: 20px; display: flex; justify-content: center;">
                <button class="btn btn-1 btn-outline-primary" (click)="copy()">Copy</button>
              </div>
              <div class="form-group">
                <textarea formControlName="output" rows="50"
                  class="form-control black-color no-resize disabled-background box-border" disabled
                  placeholder="Description"></textarea>
              </div>
              <div style="margin-top: 20px; display: flex; justify-content: center;">
                <button class="btn btn-1 btn-outline-primary" (click)="copy()">Copy</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>


  </div>
</main>