.black-color {
    color: black;
}

.no-resize {
    resize: none;
}

.disabled-background {
    background-color: rgb(248, 254, 255) !important;
}

.box-border {
    border: solid 2px black;
}

.not-allowed:disabled {
    cursor: not-allowed;
}

.markdown {
    height: 550px;
    background-color: #f8f8ff;
    border-radius: 0.25rem;
    overflow-x: auto;
}